<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Password</title>
    <link rel=" stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<ul>
  <li><a href="/login">LOGIN</a></li>
</ul>
  <div class="loginbox">
       <img src="../static/image/pic2.jpg" class="avatar" alt="">
       <h1>check code</h1>
       <form action="/reset" method="post">
           <p>verify your code</p>
           <label>
               <input type="text" name="text" placeholder="enter your code from your email" required>
           </label>
           <input type="submit" value="continue">
       </form>
   </div>
</body>
</html>