<!DOCTYPE html>
<html lang="en">
{% extends "homebase.html" %}
{% block head %}
    {{ super() }}
    {% block title %}Change personal information{% endblock %}
{% endblock %}
{% block body %}
    {{ super() }}
  <div class="loginbox">
      {% if p ==0 %}
           <img src="../static/image/pic1.jpg" class="avatar" alt="">
       {% else %}
           <img src='data:image/png;base64,{{ pic }}'; class="avatar" alt="">
       {% endif %}
       <h1>About me</h1>
       <form action="/user" method="post"enctype="multipart/form-data" >
           <p>Major</p >
           <label>
               <input type="text" name="major"placeholder="enter your major" required>
           </label>
           <p>Signature</p>
           <label>
               <input type="text" name="birthday"placeholder="enter your signature" required>
           </label>
           <p>image</p>
           <label>
               <input id="image" class="input100" type="file" name="image" required>
           </label>
           <input type="submit"  value="Click to submit">
       </form>
   </div>
{% endblock %}
</html>