<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Password</title>
    <link rel=" stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<ul>
  <li><a href="/login">LOGIN</a></li>
</ul>
  <div class="loginbox">
       <img src="../static/image/pic1.jpg" class="avatar" alt="">
       <h1>New Password</h1>
       <form action="/done" method="post">
           <p>New Password</p>
           <label>
               <input type="password" name="password1" placeholder="enter your new password" required>
           </label>
           <p>New Password</p>
           <label>
               <input type="password" name="password2" placeholder="please enter again" required>
           </label>
           <input type="submit" value="complete">
       </form>
   </div>
</body>
</html>