<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>somethingwrong</title>
    <link rel=" stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<ul>
  <li><a href="/login">login</a></li>
</ul>
  <div class="loginbox">
       <img src="../static/image/pic1.jpg" class="avatar" alt="">
       <h1>wrong password or wrong username, please try again</h1>
      <form action="/login" method="get">
           <input type="submit" value="Please click">
       </form>
   </div>
</body>
</html>